{% extends 'AppBundle::layout.html.twig' %}
{% block title %}{{ parent() }}Product - {{ id }}{% endblock %}
{% block javascripts %}
    {{ parent() }}
    <script src="{{ asset('/bundles/app/js/product.js') }}" type="text/javascript"></script>
{% endblock %}
{% block content %}
    <nav id="product-scrollspy">
        {{ include('AppBundle:menu:vertical.html.twig') }}
    </nav>
    <section id="product-header" class="container-flud">
    </section>
    <div class="container-fluid" id="product-sections">
        <section id="section-highlight" class="row product-section">
            <div class="container-fluid">
                <div class="row">
                    <div class="col-xs-12">
                        <h3>Highlights</h3>
                    </div>
                </div>
                <div class="section-list col-md-offset-4 col-md-4">
                    <ol>
                        <li>Lorem ipsum dolor sit amet, consectetur adipiscing elit.</li>
                        <li>Pellentesque neque nisl, cursus vitae accumsan sed</li>
                        <li>Etiam ultrices augue ut consectetur posuere.</li>
                        <li>Suspendisse eu viverra eros, ac varius nis l.</li>
                    </ol>
                </div>
            </div>
        </section>
        <section id="section-iternary" class="row product-section">
            <div class="container-fluid">
                <div class="row">
                    <div class="col-xs-12">
                        <h3>Iternary</h3>
                    </div>
                </div>
                <div class="section-list col-md-offset-4 col-md-4">
                    <ol>
                        <li>Lorem ipsum dolor sit amet, consectetur adipiscing elit.</li>
                        <li>Pellentesque neque nisl, cursus vitae accumsan sed</li>
                        <li>Etiam ultrices augue ut consectetur posuere.</li>
                        <li>Suspendisse eu viverra eros, ac varius nis l.</li>
                    </ol>
                </div>
            </div>
        </section>
        <section id="section-accommodation" class="row product-section">
            <div class="container-fluid">
                <div class="row">
                    <div class="col-xs-12">
                        <h3>The Accommodation</h3>
                    </div>
                </div>
                <div class="section-list col-md-offset-4 col-md-4">
                    <ol>
                        <li>Lorem ipsum dolor sit amet, consectetur adipiscing elit.</li>
                        <li>Pellentesque neque nisl, cursus vitae accumsan sed</li>
                        <li>Etiam ultrices augue ut consectetur posuere.</li>
                        <li>Suspendisse eu viverra eros, ac varius nis l.</li>
                    </ol>
                </div>
            </div>
        </section>
        <section id="section-trip" class="row product-section">
            <div class="container-fluid">
                <div class="row">
                    <div class="col-xs-12">
                        <h3>The Trip Info</h3>
                    </div>
                </div>
                <div class="section-list col-md-offset-4 col-md-4">
                    <ol>
                        <li>Lorem ipsum dolor sit amet, consectetur adipiscing elit.</li>
                        <li>Pellentesque neque nisl, cursus vitae accumsan sed</li>
                        <li>Etiam ultrices augue ut consectetur posuere.</li>
                        <li>Suspendisse eu viverra eros, ac varius nis l.</li>
                    </ol>
                </div>
            </div>
        </section>
        <section id="section-directions" class="row product-section">
            <div class="container-fluid">
                <div class="row">
                    <div class="col-xs-12">
                        <h3>The Directions</h3>
                    </div>
                </div>
                <div class="section-list col-md-offset-4 col-md-4">
                    <ol>
                        <li>Lorem ipsum dolor sit amet, consectetur adipiscing elit.</li>
                        <li>Pellentesque neque nisl, cursus vitae accumsan sed</li>
                        <li>Etiam ultrices augue ut consectetur posuere.</li>
                        <li>Suspendisse eu viverra eros, ac varius nis l.</li>
                    </ol>
                </div>
            </div>
        </section>
        <section id="section-included" class="row product-section">
            <div class="container-fluid">
                <div class="row">
                    <div class="col-xs-12">
                        <h3>Included</h3>
                    </div>
                </div>
                <div class="section-list col-md-offset-4 col-md-4">
                    <ol>
                        <li>Lorem ipsum dolor sit amet, consectetur adipiscing elit.</li>
                        <li>Pellentesque neque nisl, cursus vitae accumsan sed</li>
                        <li>Etiam ultrices augue ut consectetur posuere.</li>
                        <li>Suspendisse eu viverra eros, ac varius nis l.</li>
                    </ol>
                </div>
            </div>
        </section>
        <section id="section-faq" class="row product-section">
            <div class="container-fluid">
                <div class="row">
                    <div class="col-xs-12">
                        <h3>FAQ</h3>
                    </div>
                </div>
                <div class="section-list col-md-offset-4 col-md-4">
                    <ol>
                        <li>Lorem ipsum dolor sit amet, consectetur adipiscing elit.</li>
                        <li>Pellentesque neque nisl, cursus vitae accumsan sed</li>
                        <li>Etiam ultrices augue ut consectetur posuere.</li>
                        <li>Suspendisse eu viverra eros, ac varius nis l.</li>
                    </ol>
                </div>
            </div>
        </section>
        <section id="section-review" class="row product-section">
            <div class="container-fluid">
                <div class="row">
                    <div class="col-xs-12">
                        <h3>Review</h3>
                    </div>
                </div>
                <div class="section-list col-md-offset-4 col-md-4">
                    <ol>
                        <li>Lorem ipsum dolor sit amet, consectetur adipiscing elit.</li>
                        <li>Pellentesque neque nisl, cursus vitae accumsan sed</li>
                        <li>Etiam ultrices augue ut consectetur posuere.</li>
                        <li>Suspendisse eu viverra eros, ac varius nis l.</li>
                    </ol>
                </div>
            </div>
        </section>
    </div>
{% endblock %}