{% extends 'AppBundle::layout.html.twig' %}
{% block title %}
    {{ parent() }}
    {% trans from "product" %}
        page_title
    {% endtrans %} - {{ id }}
{% endblock %}
{% block javascripts %}
    {{ parent() }}
    <script src="{{ asset('/bundles/app/js/product.js') }}" type="text/javascript"></script>
{% endblock %}
{% block content %}
    <nav id="product-scrollspy">
        {{ include('AppBundle:menu:vertical.html.twig') }}
    </nav>
    <section id="product-header" class="container-fluid">
    </section>
    <div class="container-fluid" id="product-sections">
        {{ include('AppBundle:product/section:highlights.html.twig') }}
        {{ include('AppBundle:product/section:iternary.html.twig') }}
        {{ include('AppBundle:product/section:accommodation.html.twig') }}
        {{ include('AppBundle:product/section:trip.html.twig') }}
        {{ include('AppBundle:product/section:faq.html.twig') }}
        {{ include('AppBundle:product/section:review.html.twig') }}
    </div>
{% endblock %}