{% extends 'AppBundle::layout.html.twig' %}
{% form_theme form 'bootstrap_3_layout.html.twig' %}
{% block title %}{{ parent() }} {% trans from 'contact' %} page_title {% endtrans %}{% endblock %}

{% block content %}
    <h2>{% trans from 'contact' %} h2_contact {% endtrans %}</h2>
    <div class="container">
        {% for flash_message in app.session.flashBag.get('cri_success') %}
            <div class="alert alert-success">
                {{ flash_message }}
            </div>
        {% endfor %}
        {{ form_start(form) }}
        {{ form_widget(form) }}
        {{ form_end(form) }}
    </div>
{% endblock %}