<p>
    {% trans from 'email' into admin_email_language %}admin_p_hello{% endtrans %},<br/><br/>
    {% trans from 'email' into admin_email_language %}admin_p_youreceived{% endtrans %} {{ first_name }} {{ last_name }}:<br/>
    {{ message }}<br/><br/>
    {% trans from 'email' into admin_email_language %}admin_p_email{% endtrans %}: {{ email }}<br/>
    {% if phone_number %}{% trans from 'email' into admin_email_language %}admin_p_phonenumber{% endtrans %}: {{ phone_number }}<br/>{% endif %}
</p>