<nav id="header-menu" class="navbar navbar-fixed-top navbar-inverse">
    <div class="container">
        <span class="dropdown" id="languages">
                {{ render(controller('AppBundle:CommonModule:languageMenu')) }}
        </span>
        <div class="navbar-header">
            <button data-toggle="collapse" data-target="#navbar" type="button" class="navbar-toggle"
                    aria-expanded="true" id="butnavbar">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="{{ path('home') }}"><span class="ebike-brand">ebike</span><span
                        class="mtb-brand">montblanc</span></a>
        </div>
        <div id="upnavbar">
            <div class="navbar-collapse collapse" id="navbar">
                <ul class="nav navbar-nav navbar-right">
                    <li class="{% if route=='home' %}active{% endif %}">
                        <a href="{{ path('home') }}">{% trans %}header-menu_a_home{% endtrans %}</a>
                    </li>
                    <li class="dropdown {% if route=='product_get' %}active{% endif %}">
                        <a aria-expanded="false"
                           href="{{ path('product_get', {'productId': 1}) }}">
                            {% trans %}header-menu_a_products{% endtrans %}
                        </a>
                    </li>
                    <li class="{% if route=='contact' %}active{% endif %}">
                        <a href="{{ path('contact') }}">
                            {% trans %}header-menu_a_contact{% endtrans %}
                        </a>
                    </li>
                    <li class="divider"></li>
                </ul>
            </div>
        </div>
    </div>
</nav>