<nav id="header-menu" class="navbar navbar-fixed-top navbar-inverse">
    <div class="container-fluid">
        <div class="navbar-collapse collapse" id="navbar">
            <ul class="nav navbar-nav navbar-right">
                <li class="{% if route=='home' %}active{% endif %}"><a href="{{ path('home') }}">Home</a></li>
                <li class="dropdown {% if route=='product_get' %}active{% endif %}">
                    <a class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false" href="#">Products <span class="caret"></span></a>
                    <ul class="dropdown-menu navbar-inverse" role="menu">
                        <li class="{% if currentUri==path('product_get', {'productId': 1}) %}active{% endif %}"><a href="{{ path('product_get', {'productId': 1}) }}">Product 1</a></li>
                        <li class="{% if currentUri==path('product_get', {'productId': 2}) %}active{% endif %}"><a href="{{ path('product_get', {'productId': 2}) }}">Product 2</a></li>
                    </ul>
                </li>
                <li class="{% if route=='contact' %}active{% endif %}"><a href="{{ path('contact') }}">Contact</a></li>
                <li class="divider"></li>
                <li  class="dropdown">
                    {{ render(controller('AppBundle:CommonModule:languageMenu')) }}
                </li>
            </ul>
        </div>
    </div>
</nav>