<a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false">
    {% if routeParams._locale == 'fr' %}
        <img class="language-flag" src="{{ asset('bundles/app/images/flags/fr.png') }}" alt="French"/>
    {% elseif routeParams._locale == 'de' %}
        <img class="language-flag" src="{{ asset('bundles/app/images/flags/de.png') }}" alt="German"/>
    {% else %}
        <img class="language-flag" src="{{ asset('bundles/app/images/flags/us.png') }}" alt="English"/>
    {% endif %}
</a>
<ul class="dropdown-menu navbar-inverse" role="menu">
    <li>
        <a href="{{ path(route,routeParams|merge({'_locale':'en'})) }}" class="language" rel="en-US">
            <img class="language-flag" src="{{ asset('bundles/app/images/flags/us.png') }}" alt="English"/> EN
        </a>
    </li>
    <li>
        <a href="{{ path(route,routeParams|merge({'_locale':'fr'})) }}" class="language" rel="fr-FR">
            <img class="language-flag" src="{{ asset('bundles/app/images/flags/fr.png') }}" alt="French"/> FR
        </a>
    </li>
    <li>
        <a href="{{ path(route,routeParams|merge({'_locale':'de'})) }}" class="language" rel="de-DE">
            <img class="language-flag" src="{{ asset('bundles/app/images/flags/de.png') }}" alt="German"/> DE
        </a>
    </li>
</ul>
