<section id="section-iternary" class="product-section">
    <div class="container-fluid">
        <div class="row">
            <div class="col-xs-12 col-no-pd">
                <h1 class="lined-head">
                    <span>
                    {% trans from "product_section_itinerary" %}
                        itinerary-header-title-h1
                     {% endtrans %}
                    </span>
                </h1>
            </div>
        </div>

        {{ include('AppBundle:product/section/itinerary:stage1.html.twig') }}
        {{ include('AppBundle:product/section/itinerary:stage2.html.twig') }}
        {{ include('AppBundle:product/section/itinerary:stage3.html.twig') }}
        {{ include('AppBundle:product/section/itinerary:stage4.html.twig') }}
        {{ include('AppBundle:product/section/itinerary:stage5.html.twig') }}
        {{ include('AppBundle:product/section/itinerary:stage6.html.twig') }}
    </div>
</section>