<section id="section-iternary" class="product-section fadeIn">
    <div class="container-fluid no-pd">
        {{ include('AppBundle:product/section/itinerary:stage1.html.twig') }}
        {{ include('AppBundle:product/section/itinerary:stage2.html.twig') }}
        {{ include('AppBundle:product/section/itinerary:stage3.html.twig') }}
        {{ include('AppBundle:product/section/itinerary:stage4.html.twig') }}
        {{ include('AppBundle:product/section/itinerary:stage5.html.twig') }}
        {{ include('AppBundle:product/section/itinerary:stage6.html.twig') }}
    </div>
</section>